p {
    font-family: Cursive;
}

header {
    border: 2px solid #eb0eda;
    background-color: #e0a3f4;
}

body{

    background-color: #be8cef;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}


.question {
  text-align: center;
}

.name {
    font-family: Helvetica;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.nav {
        text-align: center;
}

.nav a {
    padding: 10px 20px;
    margin: 10px;
    background-color:	#f16ace;
    font-size: 18px;
    border-radius: 8px;
}
img{
    float:right;
    display:inline-block;
}

span {
    border: 5px solid red;
    padding:  0em 1em;
    border-radius: 16px;
    font-size: 24px;
    line-height: 2;
}

span {
    border: 5px solid red;
    padding:  0em 1em;
    border-radius: 16px;
    font-size: 24px;
    line-height: 2;
}
div.b {
    text-align: left;
}
.grid {
    display:grid;
    grid-template:400px 400px 400px/400px 400px 400px;
    width:1000; height:1000;
    
.grid-container
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
